<form>
  <div class="mb-3">
    <label class="form-label">Product id</label>
    <input type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Category id</label>
    <input type="test" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="test" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="test" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="test" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
